@typeparam TModel where TModel : ITestEntity

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>@Label</label>
        <div class="mb-3">
            <label for="Documento">Ingrese el código del exámen:</label>
            <InputNumber class="form-control" @bind-Value="@Model.TestID" />
            <ValidationMessage For="@(() => Model.TestID)" />
        </div>
        
        <div class="mb-3">
            <label for="Nombre">Ingrese el nombre del exámen:</label>
            <InputText class="form-control" @bind-Value="@Model.Name" />
            <ValidationMessage For="@(() => Model.Name)" />
        </div>
        
        <div class="mb-3">
            <label>Sección:</label>
            <select class="form-select" @onchange="SectionChanged" value="@SectionDefaultValue">
                <option value="0" hidden disabled>--Seleccione la Sección--</option>
                @if (Sections is not null)
                {
                    @foreach (var s in Sections)
                    {
                        if(s.Id == Model.SectionId)
                        {
                            <option value="@s.Id" selected>@s.Name</option>
                        }
                        else
                        {
                            <option value="@s.Id">@s.Name</option>
                        }
                    }
                }
            </select>
        </div>
        
        <div class="mb-3">
            <label>Tipo de Recipiente:</label>
            <select class="form-select" @onchange="TestTubeChanged" value="@TestTubeDefaultValue">
                <option value="0" hidden disabled>--Seleccione tipo de recipiente--</option>
                @if (TestTubes is not null)
                {
                    @foreach (var t in TestTubes)
                    {
                        if (t.Id == Model.TestTubeId)
                        {
                            <option value="@t.Id" selected>@t.Name</option>
                        }
                        else
                        {
                            <option value="@t.Id">@t.Name</option>
                        }

                    }
                }
            </select>
        </div>
        
        <div class="mb-3">
            <label>Condiciones preanalíticas</label>
            <select class="form-select" @onchange="ConditionChanged">
                <option value="0" hidden disabled selected>--Seleccione una condición preanalítica--</option>
                @if (PreanalyticConditions is not null)
                {
                    @foreach (var c in PreanalyticConditions)
                    {
                        <option value="@c.Id">@c.Name</option>
                    }
                }
            </select>
            <button class="btn btn-primary" type="button" onclick=@(() => AddCondition())>Agregar</button>
            <table class="table table-striped">
                <thead>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th></th>
                </thead>
                <tbody>
                    @if (Model.Conditions != null)
                    {
                        @foreach (var condition in Model.Conditions)
                        {
                            <tr>
                                <td>@condition.Id</td>
                                <td>@condition.Name</td>
                                <td><button onclick=@(() => DeleteAsync(condition)) class="btn btn-danger">Borrar</button></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <ValidationMessage For="@(() => Model.Conditions)" />
        </div>

    </div>
    <button class="btn btn-primary" type="submit">Guardar Cambios</button>
    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button>
</EditForm>