@typeparam TModel where TModel : IUserEntity

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3 align-items-center">
        <table class="table table-bordered table-striped w-100" style="vertical-align: middle">
            <thead>
                <tr>
                    <th>@Label</th>
                    <th></th> <!-- Encabezado vacío para la segunda columna -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label for="id">Ingrese el documento</label>:</td>
                    <td>
                        <InputText class="form-control" id="id" @bind-Value="@Model.DocumentId" />
                        <ValidationMessage For="@(() => Model.DocumentId)" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="name">Ingrese el nombre:</label>
                    </td>
                    <td>
                        <InputText class="form-control" id="name" @bind-Value="@Model.Name" />
                        <ValidationMessage For="@(() => Model.Name)" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="birthDay">Ingrese la fecha de nacimiento:</label>
                    </td>
                    <td>
                        <InputDate class="form-control" id="birthDay" @bind-Value="@Model.BirthDay" />
                        <ValidationMessage For="@(() => Model.BirthDay)" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Cellphone">Ingrese el número de celular</label>
                    </td>
                    <td>
                        <InputText class="form-control" id="Cellphone" @bind-Value="@Model.Cellphone" />
                        <ValidationMessage For="@(() => Model.Cellphone)" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="address">Ingrese la dirección de residencia</label>
                    </td>
                    <td>
                        <InputText class="form-control" id="address" @bind-Value="@Model.Address" />
                        <ValidationMessage For="@(() => Model.Address)" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="email">Ingrese el correo electrónico</label>
                    </td>
                    <td>
                        <InputText class="form-control" id="email" @bind-Value="@Model.Email" />
                        <ValidationMessage For="@(() => Model.Email)" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="userName">Ingrese el nombre de usuario</label>
                    </td>
                    <td>
                        <InputText class="form-control" id="userName" @bind-Value="@Model.UserName" />
                        <ValidationMessage For="@(() => Model.UserName)" />
                    </td>
                </tr>
                <tr>
                    <td><label for="gender">Seleccione el genero</label></td>
                    <td>
                        <select id="gender" class="form-select" @onchange="OnGenderChanged">
                            @if (Model == null || Model.Gender == GenderType.NotDefined)
                            {
                                <option value="0" hidden disabled selected>--Seleccione un genero--</option>
                                <option value="female">Femenino</option>
                                <option value="male">Masculino</option>
                            }
                            else
                            {
                                if(Model.Gender == GenderType.Female)
                                {
                                    <option value="female" selected>Femenino</option>
                                    <option value="male">Masculino</option>
                                }
                                else
                                {
                                    <option value="female">Femenino</option>
                                    <option value="male" selected>Masculino</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mb-3 d-flex flex-column align-items-center">
    <button class="btn btn-primary" type="submit">Guardar Cambios</button>
    </div>
    <div class="mb-3 d-flex flex-column align-items-center">
        <button class="btn btn-warning" @onclick="ReturnAction">Regresar</button>
    </div>
    <style>
  
        .table td, .table th {
            white-space: nowrap;

        }
            .table td:first-child {
                width: 250px;
            }
    </style>
</EditForm>