@typeparam TModel where TModel : IOrderEntity

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>@Label</label>
        
        <div class="mb-3">
            <label>Paciente:</label>
            <div>
                <select class="form-select" @onchange="PatientChanged">
                    <option value="0">---Seleccione al paciente---</option>
                    @if (Patients is not null)
                    {
                        foreach (var patient in Patients)
                        {
                            <option value="@patient.Id">@patient.Name</option>
                        }
                    }
                </select>
                <ValidationMessage For="@(() => Model.patientName)" />
            </div>
        </div>
        
        <div class="mb-3">
            <label>Medico:</label>
            <div>
                <select class="form-select" @onchange="MedicChanged">
                    <option value="0">---Seleccione al medico---</option>
                    @if (Medics is not null)
                    {
                        foreach (var medic in Medics)
                        {
                            <option value="@medic.Id">@medic.Name</option>
                        }
                    }
                </select>
                <ValidationMessage For="@(() => Model.medicName)" />
            </div>
        </div>
        
        <div class="mb-3">
            <button class="btn btn-primary" @onclick=@(()=>ShowAddTestModal())>Agregar Examen</button>
        </div>
        <div class="mb-3">
            <table class="table table-striped">
                <thead>
                    <th>ID</th>
                    <th>Nombre</th>
                </thead>
                <tbody>
                    @foreach (var test in SelectedTests)
                    {
                        <tr>
                            <td>@test.Id</td>
                            <td>@test.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
    <button class="btn btn-primary" type="submit">Guardar Cambios</button>
    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button>
</EditForm>