@typeparam TModel where TModel : ITestEntity

<MudForm>
    <div class="mb-1 d-flex flex-column align-items-center">
        <table class="table table-bordered table-striped w-100">
            <thead class="text-center">
                <tr>
                    <td colspan="5">
                        <InputText class="form-control" @bind-Value="@Model.Name" disabled style="background-color: #FFFFFF;" />
                    </td>
                </tr>
                <tr>
                    <th>Código interno del exámen</th>
                    <th>Condición preanalítica</th>
                    <th>Descripción</th>
                    <th>Tipo de recipiente</th>
                    <th>Sección</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Conditions != null && Model.Conditions.Any())
                {
                    int rowCount = Model.Conditions.Count();
                    bool firstRowRendered = false;
                    bool rowForId = false;

                    @foreach (var t in Model.Conditions)
                    {
                        <tr>
                            @if (!rowForId)
                            {
                                <td rowspan="@rowCount" class="text-center align-middle fs-1">@Model.TestID</td>
                                rowForId = true;
                            }
                            <td>@t.Name</td>
                            <td>@t.Description</td>

                            @if (!firstRowRendered)
                            {
                                <td rowspan="@rowCount">@Model.TestTube.Name</td>
                                <td rowspan="@rowCount">@Model.Section.Name</td>
                                firstRowRendered = true;
                            }
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>

    <style>
        th, td {
            padding: 10px 20px;
        }

        .form-control {
            text-align: center;
        }
    </style>

</MudForm>

