@page "/orders/create"

<h3>Crear Orden</h3>


@if (TemporalOrders is null)
{
    <Loading />
}
else
{
    <div class="mb-3">
        <button class="btn btn-primary" @onclick="ProcessOrder">Guardar Cambios</button>
        <button class="btn btn-success" @onclick="Return">Regresar</button>
    </div>
    <div class="mb-3">
        <label>Numero de exámenes: @NumberOfTests</label>
    </div>
    <div class="mb-3">
        <label>Paciente:</label>
        <div>
            <div class="mb-3">
                <label>Ingrese el documento del paciente:</label>
                <input type="number" class="form-control" @bind="PatientDocumentValue" placeholder="Ingrese documento a buscar..." />
            </div>
                <div class="mb-3">
                <button class="btn btn-primary" @onclick="FindPatient">Buscar Paciente</button>
            </div>
            @if (SelectedPatient != null)
            {
                <LabPreTest.Frontend.Pages.Patients.PatientEditOrder Id="@SelectedPatient.Id"></LabPreTest.Frontend.Pages.Patients.PatientEditOrder>
            }
        </div>
    </div>

    <div class="mb-3">
        <label>Medico:</label>
        <div>
            <div class="mb-3">
                <label>Ingrese el documento del medico:</label>
                <input type="number" class="form-control" @bind="MedicDocumentValue" placeholder="Ingrese documento a buscar..." />
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" @onclick="SearchMedic">buscar medico</button>
            </div>
            @if (SelectedMedic != null)
            {
                <LabPreTest.Frontend.Pages.Medician.MedicOrderEdit_ Id="@SelectedMedic.Id"></LabPreTest.Frontend.Pages.Medician.MedicOrderEdit_>
            }
        </div>
    </div>

    <div class="mb-3">
        <button class="btn btn-primary" disabled=@IsAddButtonDisabled @onclick=@(()=>ShowAddTestModal())>Agregar Examen</button>
    </div>
    <div class="mb-3">
        <table class="table table-striped">
            <thead>
            <th>ID</th>
            <th>Nombre</th>
            </thead>
            <tbody>
                @foreach (var to in TemporalOrders)
                {
                    <tr>
                        <td>@to.TestId</td>
                        <td>@to.Test!.Name</td>
                    </tr>
                }
            </tbody>
        </table>
        <!--<ValidationMessage For="@(() => Model.TestIds)" />-->
    </div>
}
