@page "/trazability"
@using Newtonsoft.Json.Linq

<h3>Trazabilidad</h3>


<GenericList MyList="Trazability">
    <Body>
        <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync" 
                    SelectedRedordsNumber="SelectedRedordsNumberAsync" />
        <Filter PlaceHolder="Buscar informacion de una orden..." Callback=@FilterCallback />

        <table class="table table-striped" style="vertical-align:middle">
            <thead>
                <tr>
                    <th>Numero de orden</th>
                    <th>Responsable del movimiento</th>
                    <th>Detalles</th>
                    <th style="width:180px"></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var trazability in Trazability!)
            {
                <tr>
                    <td>@trazability.OrderId</td>
                    <td>@trazability.ChangeBy</td>
                    <td>
                        @if (!string.IsNullOrWhiteSpace(trazability.NewValues))
                        {
                            var newChanges = Newtonsoft.Json.Linq.JObject.Parse(trazability.NewValues);
                            var uniqueDetails = new HashSet<string>();
                                <ul>
                                <li><strong>Fecha y hora del movimiento:</strong> @newChanges["CreatedAt"]</li>
                                <li><strong>Estado:</strong> @newChanges["Status"]</li>
                                @if (newChanges["Details"] is JArray details)
                                {
                                    <li><strong>Examenes relacionados por ID:</strong></li>
                                    <ul>
                                        @foreach (var detail in details)
                                        {
                                            var uniqueKey = $"{detail["TestId"]}_{detail["MedicId"]}";
                                            if (uniqueDetails.Add(uniqueKey)) 
                                            {
                                                <li>Código del exámen: @detail["TestId"]</li>
                                            }

                                        }
                                    </ul>
                                }
                            </ul>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </Body>
</GenericList>